# Секретные файлы (ОБЯЗАТЕЛЬНО)
.env

# База данных (обычно её не хранят в гите, она у каждого своя)
db.sqlite3

# Папки виртуального окружения
.venv/
venv/
env/

# Системные файлы Python (мусор)
__pycache__/
*.py[cod]
*$py.class

# Логи и ошибки
*.log

# Статические файлы и медиа (картинки товаров)
# Если хочешь хранить картинки в гите - убери media/ из этого списка
media/
staticfiles/

# Настройки IDE (PyCharm, VS Code)
.idea/
.vscode/