@media (min-width:1024px) {
    .favorites-hiden{
        display: none;
    }
}

@media (max-width:440px) {
    .container-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

@media (min-width:1024px) {
    .button-togle-hiden{
        display: none;
    }
}

@media (max-width:1024px) {
    .hidden-dekstop{
    display: none !important;
    }

    .button-togle-hiden{
        display: block;
    }

    .nav-header-mobil{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.breadcrumbs_li li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "→";
}

#ui-to-top-custom {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 40px;
    z-index: 1000;
    width: 46px;
    height: 46px;
    font-size: 20px;
    line-height: 42px;
    color: #fff;
    background: #2a93c9;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .45s ease-in-out, transform .45s ease-in-out;
    transform: translate3d(0, 300px, 0);
    will-change: transform, opacity;
}

#ui-to-top-custom:hover {
    color: #fff;
    background: #156c98;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .56);
    text-decoration: none;
}

#ui-to-top-custom:focus {
    color: #fff;
}

#ui-to-top-custom.active {
    opacity: 1;
    pointer-events: all;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 575.98px) {
    #ui-to-top-custom {
        right: 15px;
        bottom: 20px;
    }
}

@media (min-width: 576px) {
    #ui-to-top-custom {
        right: 40px;
        bottom: 40px;
    }
}
